@font-face {
    font-family: "Sulphur Point";
    src: url(../fonts/SulphurPoint-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Sulphur Point";
    src: url(../fonts/SulphurPoint-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Sulphur Point";
    src: url(../fonts/SulphurPoint-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}