@font-face {
    font-family: "Noto Emoji";
    src: url(../fonts/NotoEmoji-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Noto Emoji";
    src: url(../fonts/NotoEmoji-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Noto Emoji";
    src: url(../fonts/NotoEmoji-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Noto Emoji";
    src: url(../fonts/NotoEmoji-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Noto Emoji";
    src: url(../fonts/NotoEmoji-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}