@font-face {
    font-family: "Kaisei HarunoUmi";
    src: url(../fonts/KaiseiHarunoUmi-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Kaisei HarunoUmi";
    src: url(../fonts/KaiseiHarunoUmi-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Kaisei HarunoUmi";
    src: url(../fonts/KaiseiHarunoUmi-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}