@font-face {
    font-family: "Noto Sans Adlam";
    src: url(../fonts/NotoSansAdlam-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Noto Sans Adlam";
    src: url(../fonts/NotoSansAdlam-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Noto Sans Adlam";
    src: url(../fonts/NotoSansAdlam-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Noto Sans Adlam";
    src: url(../fonts/NotoSansAdlam-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}