@font-face {
    font-family: "Quattrocento Sans";
    src: url(../fonts/QuattrocentoSans-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Quattrocento Sans";
    src: url(../fonts/QuattrocentoSans-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Quattrocento Sans";
    src: url(../fonts/QuattrocentoSans-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Quattrocento Sans";
    src: url(../fonts/QuattrocentoSans-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}