@font-face {
    font-family: "Coda";
    src: url(../fonts/Coda-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Coda";
    src: url(../fonts/Coda-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}