@font-face {
    font-family: "Almendra";
    src: url(../fonts/Almendra-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Almendra";
    src: url(../fonts/Almendra-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Almendra";
    src: url(../fonts/Almendra-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Almendra";
    src: url(../fonts/Almendra-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}