@font-face {
    font-family: "Mirza";
    src: url(../fonts/Mirza-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Mirza";
    src: url(../fonts/Mirza-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Mirza";
    src: url(../fonts/Mirza-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Mirza";
    src: url(../fonts/Mirza-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}