@font-face {
    font-family: "Noto Sans New Tai Lue";
    src: url(../fonts/NotoSansNewTaiLue-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Noto Sans New Tai Lue";
    src: url(../fonts/NotoSansNewTaiLue-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Noto Sans New Tai Lue";
    src: url(../fonts/NotoSansNewTaiLue-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Noto Sans New Tai Lue";
    src: url(../fonts/NotoSansNewTaiLue-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}