@font-face {
    font-family: "Andada Pro";
    src: url(../fonts/AndadaPro-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Andada Pro";
    src: url(../fonts/AndadaPro-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Andada Pro";
    src: url(../fonts/AndadaPro-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Andada Pro";
    src: url(../fonts/AndadaPro-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Andada Pro";
    src: url(../fonts/AndadaPro-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Andada Pro";
    src: url(../fonts/AndadaPro-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Andada Pro";
    src: url(../fonts/AndadaPro-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Andada Pro";
    src: url(../fonts/AndadaPro-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Andada Pro";
    src: url(../fonts/AndadaPro-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Andada Pro";
    src: url(../fonts/AndadaPro-ExtraBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}