@font-face {
    font-family: "Skranji";
    src: url(../fonts/Skranji-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Skranji";
    src: url(../fonts/Skranji-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}