@font-face {
    font-family: "Biryani";
    src: url(../fonts/Biryani-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Biryani";
    src: url(../fonts/Biryani-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Biryani";
    src: url(../fonts/Biryani-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Biryani";
    src: url(../fonts/Biryani-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Biryani";
    src: url(../fonts/Biryani-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Biryani";
    src: url(../fonts/Biryani-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Biryani";
    src: url(../fonts/Biryani-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}