@font-face {
    font-family: "Vollkorn SC";
    src: url(../fonts/VollkornSC-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Vollkorn SC";
    src: url(../fonts/VollkornSC-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Vollkorn SC";
    src: url(../fonts/VollkornSC-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Vollkorn SC";
    src: url(../fonts/VollkornSC-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}