@font-face {
    font-family: "Shippori Mincho B1";
    src: url(../fonts/ShipporiMinchoB1-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Shippori Mincho B1";
    src: url(../fonts/ShipporiMinchoB1-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Shippori Mincho B1";
    src: url(../fonts/ShipporiMinchoB1-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Shippori Mincho B1";
    src: url(../fonts/ShipporiMinchoB1-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Shippori Mincho B1";
    src: url(../fonts/ShipporiMinchoB1-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}