@font-face {
    font-family: "Kadwa";
    src: url(../fonts/Kadwa-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Kadwa";
    src: url(../fonts/Kadwa-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}