@font-face {
    font-family: "Edu VIC WA NT Beginner";
    src: url(../fonts/EduVICWANTBeginner-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Edu VIC WA NT Beginner";
    src: url(../fonts/EduVICWANTBeginner-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Edu VIC WA NT Beginner";
    src: url(../fonts/EduVICWANTBeginner-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Edu VIC WA NT Beginner";
    src: url(../fonts/EduVICWANTBeginner-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}