@font-face {
    font-family: "Reem Kufi";
    src: url(../fonts/ReemKufi-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Reem Kufi";
    src: url(../fonts/ReemKufi-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Reem Kufi";
    src: url(../fonts/ReemKufi-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Reem Kufi";
    src: url(../fonts/ReemKufi-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}