@font-face {
    font-family: "Sansita Swashed";
    src: url(../fonts/SansitaSwashed-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Sansita Swashed";
    src: url(../fonts/SansitaSwashed-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Sansita Swashed";
    src: url(../fonts/SansitaSwashed-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Sansita Swashed";
    src: url(../fonts/SansitaSwashed-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Sansita Swashed";
    src: url(../fonts/SansitaSwashed-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Sansita Swashed";
    src: url(../fonts/SansitaSwashed-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Sansita Swashed";
    src: url(../fonts/SansitaSwashed-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}