@font-face {
    font-family: "Cinzel Decorative";
    src: url(../fonts/CinzelDecorative-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Cinzel Decorative";
    src: url(../fonts/CinzelDecorative-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Cinzel Decorative";
    src: url(../fonts/CinzelDecorative-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}