@font-face {
    font-family: "Astloch";
    src: url(../fonts/Astloch-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Astloch";
    src: url(../fonts/Astloch-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}