@font-face {
    font-family: "Azeret Mono";
    src: url(../fonts/AzeretMono-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Azeret Mono";
    src: url(../fonts/AzeretMono-ThinItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "Azeret Mono";
    src: url(../fonts/AzeretMono-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Azeret Mono";
    src: url(../fonts/AzeretMono-ExtraLightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Azeret Mono";
    src: url(../fonts/AzeretMono-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Azeret Mono";
    src: url(../fonts/AzeretMono-LightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Azeret Mono";
    src: url(../fonts/AzeretMono-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Azeret Mono";
    src: url(../fonts/AzeretMono-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Azeret Mono";
    src: url(../fonts/AzeretMono-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Azeret Mono";
    src: url(../fonts/AzeretMono-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Azeret Mono";
    src: url(../fonts/AzeretMono-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Azeret Mono";
    src: url(../fonts/AzeretMono-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Azeret Mono";
    src: url(../fonts/AzeretMono-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Azeret Mono";
    src: url(../fonts/AzeretMono-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Azeret Mono";
    src: url(../fonts/AzeretMono-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Azeret Mono";
    src: url(../fonts/AzeretMono-ExtraBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Azeret Mono";
    src: url(../fonts/AzeretMono-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Azeret Mono";
    src: url(../fonts/AzeretMono-BlackItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 900;
}