@font-face {
    font-family: "Noto Sans Ol Chiki";
    src: url(../fonts/NotoSansOlChiki-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Noto Sans Ol Chiki";
    src: url(../fonts/NotoSansOlChiki-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Noto Sans Ol Chiki";
    src: url(../fonts/NotoSansOlChiki-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Noto Sans Ol Chiki";
    src: url(../fonts/NotoSansOlChiki-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}