@font-face {
    font-family: "Monda";
    src: url(../fonts/Monda-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Monda";
    src: url(../fonts/Monda-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}