@font-face {
    font-family: "Fira Sans Extra Condensed";
    src: url(../fonts/FiraSansExtraCondensed-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Fira Sans Extra Condensed";
    src: url(../fonts/FiraSansExtraCondensed-ThinItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "Fira Sans Extra Condensed";
    src: url(../fonts/FiraSansExtraCondensed-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Fira Sans Extra Condensed";
    src: url(../fonts/FiraSansExtraCondensed-ExtraLightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Fira Sans Extra Condensed";
    src: url(../fonts/FiraSansExtraCondensed-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Fira Sans Extra Condensed";
    src: url(../fonts/FiraSansExtraCondensed-LightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Fira Sans Extra Condensed";
    src: url(../fonts/FiraSansExtraCondensed-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Fira Sans Extra Condensed";
    src: url(../fonts/FiraSansExtraCondensed-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Fira Sans Extra Condensed";
    src: url(../fonts/FiraSansExtraCondensed-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Fira Sans Extra Condensed";
    src: url(../fonts/FiraSansExtraCondensed-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Fira Sans Extra Condensed";
    src: url(../fonts/FiraSansExtraCondensed-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Fira Sans Extra Condensed";
    src: url(../fonts/FiraSansExtraCondensed-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Fira Sans Extra Condensed";
    src: url(../fonts/FiraSansExtraCondensed-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Fira Sans Extra Condensed";
    src: url(../fonts/FiraSansExtraCondensed-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Fira Sans Extra Condensed";
    src: url(../fonts/FiraSansExtraCondensed-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Fira Sans Extra Condensed";
    src: url(../fonts/FiraSansExtraCondensed-ExtraBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Fira Sans Extra Condensed";
    src: url(../fonts/FiraSansExtraCondensed-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Fira Sans Extra Condensed";
    src: url(../fonts/FiraSansExtraCondensed-BlackItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 900;
}