@font-face {
    font-family: "Unkempt";
    src: url(../fonts/Unkempt-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Unkempt";
    src: url(../fonts/Unkempt-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}