@font-face {
    font-family: "Source Serif Pro";
    src: url(../fonts/SourceSerifPro-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url(../fonts/SourceSerifPro-ExtraLightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url(../fonts/SourceSerifPro-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url(../fonts/SourceSerifPro-LightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url(../fonts/SourceSerifPro-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url(../fonts/SourceSerifPro-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url(../fonts/SourceSerifPro-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url(../fonts/SourceSerifPro-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url(../fonts/SourceSerifPro-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url(../fonts/SourceSerifPro-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url(../fonts/SourceSerifPro-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url(../fonts/SourceSerifPro-BlackItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 900;
}