@font-face {
    font-family: "Rufina";
    src: url(../fonts/Rufina-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Rufina";
    src: url(../fonts/Rufina-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}