@font-face {
    font-family: "Srisakdi";
    src: url(../fonts/Srisakdi-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Srisakdi";
    src: url(../fonts/Srisakdi-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}