@font-face {
    font-family: "Noto Sans Canadian Aboriginal";
    src: url(../fonts/NotoSansCanadianAboriginal-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Noto Sans Canadian Aboriginal";
    src: url(../fonts/NotoSansCanadianAboriginal-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Noto Sans Canadian Aboriginal";
    src: url(../fonts/NotoSansCanadianAboriginal-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Noto Sans Canadian Aboriginal";
    src: url(../fonts/NotoSansCanadianAboriginal-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Noto Sans Canadian Aboriginal";
    src: url(../fonts/NotoSansCanadianAboriginal-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Noto Sans Canadian Aboriginal";
    src: url(../fonts/NotoSansCanadianAboriginal-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Noto Sans Canadian Aboriginal";
    src: url(../fonts/NotoSansCanadianAboriginal-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Noto Sans Canadian Aboriginal";
    src: url(../fonts/NotoSansCanadianAboriginal-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Noto Sans Canadian Aboriginal";
    src: url(../fonts/NotoSansCanadianAboriginal-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}