@font-face {
    font-family: "BIZ UDPGothic";
    src: url(../fonts/BIZUDPGothic-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "BIZ UDPGothic";
    src: url(../fonts/BIZUDPGothic-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}