@font-face {
    font-family: "Lusitana";
    src: url(../fonts/Lusitana-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Lusitana";
    src: url(../fonts/Lusitana-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}