@font-face {
    font-family: "Buenard";
    src: url(../fonts/Buenard-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Buenard";
    src: url(../fonts/Buenard-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}