@font-face {
    font-family: "Arsenal";
    src: url(../fonts/Arsenal-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Arsenal";
    src: url(../fonts/Arsenal-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Arsenal";
    src: url(../fonts/Arsenal-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Arsenal";
    src: url(../fonts/Arsenal-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}