@font-face {
    font-family: "Amatic SC";
    src: url(../fonts/AmaticSC-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Amatic SC";
    src: url(../fonts/AmaticSC-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}