@font-face {
    font-family: "Dongle";
    src: url(../fonts/Dongle-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Dongle";
    src: url(../fonts/Dongle-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Dongle";
    src: url(../fonts/Dongle-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}