@font-face {
    font-family: "Noto Serif Malayalam";
    src: url(../fonts/NotoSerifMalayalam-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Noto Serif Malayalam";
    src: url(../fonts/NotoSerifMalayalam-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Noto Serif Malayalam";
    src: url(../fonts/NotoSerifMalayalam-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Noto Serif Malayalam";
    src: url(../fonts/NotoSerifMalayalam-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Noto Serif Malayalam";
    src: url(../fonts/NotoSerifMalayalam-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Noto Serif Malayalam";
    src: url(../fonts/NotoSerifMalayalam-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Noto Serif Malayalam";
    src: url(../fonts/NotoSerifMalayalam-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Noto Serif Malayalam";
    src: url(../fonts/NotoSerifMalayalam-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Noto Serif Malayalam";
    src: url(../fonts/NotoSerifMalayalam-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}