@font-face {
    font-family: "Corinthia";
    src: url(../fonts/Corinthia-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Corinthia";
    src: url(../fonts/Corinthia-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}