@font-face {
    font-family: "Sahitya";
    src: url(../fonts/Sahitya-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Sahitya";
    src: url(../fonts/Sahitya-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}