@font-face {
    font-family: "Gorditas";
    src: url(../fonts/Gorditas-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gorditas";
    src: url(../fonts/Gorditas-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}