@font-face {
    font-family: "Chathura";
    src: url(../fonts/Chathura-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Chathura";
    src: url(../fonts/Chathura-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Chathura";
    src: url(../fonts/Chathura-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Chathura";
    src: url(../fonts/Chathura-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Chathura";
    src: url(../fonts/Chathura-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}