@font-face {
    font-family: "Solway";
    src: url(../fonts/Solway-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Solway";
    src: url(../fonts/Solway-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Solway";
    src: url(../fonts/Solway-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Solway";
    src: url(../fonts/Solway-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Solway";
    src: url(../fonts/Solway-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}