@font-face {
    font-family: "Alumni Sans";
    src: url(../fonts/AlumniSans-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Alumni Sans";
    src: url(../fonts/AlumniSans-ThinItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "Alumni Sans";
    src: url(../fonts/AlumniSans-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Alumni Sans";
    src: url(../fonts/AlumniSans-ExtraLightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Alumni Sans";
    src: url(../fonts/AlumniSans-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Alumni Sans";
    src: url(../fonts/AlumniSans-LightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Alumni Sans";
    src: url(../fonts/AlumniSans-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Alumni Sans";
    src: url(../fonts/AlumniSans-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Alumni Sans";
    src: url(../fonts/AlumniSans-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Alumni Sans";
    src: url(../fonts/AlumniSans-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Alumni Sans";
    src: url(../fonts/AlumniSans-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Alumni Sans";
    src: url(../fonts/AlumniSans-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Alumni Sans";
    src: url(../fonts/AlumniSans-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Alumni Sans";
    src: url(../fonts/AlumniSans-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Alumni Sans";
    src: url(../fonts/AlumniSans-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Alumni Sans";
    src: url(../fonts/AlumniSans-ExtraBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Alumni Sans";
    src: url(../fonts/AlumniSans-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Alumni Sans";
    src: url(../fonts/AlumniSans-BlackItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 900;
}