@font-face {
    font-family: "Spectral";
    src: url(../fonts/Spectral-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Spectral";
    src: url(../fonts/Spectral-ExtraLightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Spectral";
    src: url(../fonts/Spectral-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Spectral";
    src: url(../fonts/Spectral-LightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Spectral";
    src: url(../fonts/Spectral-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Spectral";
    src: url(../fonts/Spectral-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Spectral";
    src: url(../fonts/Spectral-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Spectral";
    src: url(../fonts/Spectral-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Spectral";
    src: url(../fonts/Spectral-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Spectral";
    src: url(../fonts/Spectral-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Spectral";
    src: url(../fonts/Spectral-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Spectral";
    src: url(../fonts/Spectral-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Spectral";
    src: url(../fonts/Spectral-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Spectral";
    src: url(../fonts/Spectral-ExtraBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}