@font-face {
    font-family: "Sintony";
    src: url(../fonts/Sintony-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Sintony";
    src: url(../fonts/Sintony-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}