@font-face {
    font-family: "Elsie Swash Caps";
    src: url(../fonts/ElsieSwashCaps-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Elsie Swash Caps";
    src: url(../fonts/ElsieSwashCaps-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}