@font-face {
    font-family: "Stick No Bills";
    src: url(../fonts/StickNoBills-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Stick No Bills";
    src: url(../fonts/StickNoBills-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Stick No Bills";
    src: url(../fonts/StickNoBills-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Stick No Bills";
    src: url(../fonts/StickNoBills-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Stick No Bills";
    src: url(../fonts/StickNoBills-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Stick No Bills";
    src: url(../fonts/StickNoBills-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Stick No Bills";
    src: url(../fonts/StickNoBills-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}