@font-face {
    font-family: "Noto Sans Javanese";
    src: url(../fonts/NotoSansJavanese-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Noto Sans Javanese";
    src: url(../fonts/NotoSansJavanese-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Noto Sans Javanese";
    src: url(../fonts/NotoSansJavanese-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Noto Sans Javanese";
    src: url(../fonts/NotoSansJavanese-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}