@font-face {
    font-family: "Libre Bodoni";
    src: url(../fonts/LibreBodoni-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Libre Bodoni";
    src: url(../fonts/LibreBodoni-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Libre Bodoni";
    src: url(../fonts/LibreBodoni-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Libre Bodoni";
    src: url(../fonts/LibreBodoni-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Libre Bodoni";
    src: url(../fonts/LibreBodoni-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Libre Bodoni";
    src: url(../fonts/LibreBodoni-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Libre Bodoni";
    src: url(../fonts/LibreBodoni-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Libre Bodoni";
    src: url(../fonts/LibreBodoni-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}