@font-face {
    font-family: "Bitter";
    src: url(../fonts/Bitter-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Bitter";
    src: url(../fonts/Bitter-ThinItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "Bitter";
    src: url(../fonts/Bitter-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Bitter";
    src: url(../fonts/Bitter-ExtraLightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Bitter";
    src: url(../fonts/Bitter-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Bitter";
    src: url(../fonts/Bitter-LightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Bitter";
    src: url(../fonts/Bitter-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Bitter";
    src: url(../fonts/Bitter-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Bitter";
    src: url(../fonts/Bitter-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Bitter";
    src: url(../fonts/Bitter-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Bitter";
    src: url(../fonts/Bitter-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Bitter";
    src: url(../fonts/Bitter-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Bitter";
    src: url(../fonts/Bitter-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Bitter";
    src: url(../fonts/Bitter-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Bitter";
    src: url(../fonts/Bitter-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Bitter";
    src: url(../fonts/Bitter-ExtraBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Bitter";
    src: url(../fonts/Bitter-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Bitter";
    src: url(../fonts/Bitter-BlackItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 900;
}