@font-face {
    font-family: "Bona Nova";
    src: url(../fonts/BonaNova-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Bona Nova";
    src: url(../fonts/BonaNova-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Bona Nova";
    src: url(../fonts/BonaNova-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}