@font-face {
    font-family: "Corben";
    src: url(../fonts/Corben-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Corben";
    src: url(../fonts/Corben-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}