@font-face {
    font-family: "Darker Grotesque";
    src: url(../fonts/DarkerGrotesque-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Darker Grotesque";
    src: url(../fonts/DarkerGrotesque-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Darker Grotesque";
    src: url(../fonts/DarkerGrotesque-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Darker Grotesque";
    src: url(../fonts/DarkerGrotesque-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Darker Grotesque";
    src: url(../fonts/DarkerGrotesque-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Darker Grotesque";
    src: url(../fonts/DarkerGrotesque-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Darker Grotesque";
    src: url(../fonts/DarkerGrotesque-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}