@font-face {
    font-family: "Zilla Slab Highlight";
    src: url(../fonts/ZillaSlabHighlight-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Zilla Slab Highlight";
    src: url(../fonts/ZillaSlabHighlight-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}