@font-face {
    font-family: "Josefin Slab";
    src: url(../fonts/JosefinSlab-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Josefin Slab";
    src: url(../fonts/JosefinSlab-ThinItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "Josefin Slab";
    src: url(../fonts/JosefinSlab-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Josefin Slab";
    src: url(../fonts/JosefinSlab-ExtraLightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Josefin Slab";
    src: url(../fonts/JosefinSlab-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Josefin Slab";
    src: url(../fonts/JosefinSlab-LightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Josefin Slab";
    src: url(../fonts/JosefinSlab-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Josefin Slab";
    src: url(../fonts/JosefinSlab-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Josefin Slab";
    src: url(../fonts/JosefinSlab-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Josefin Slab";
    src: url(../fonts/JosefinSlab-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Josefin Slab";
    src: url(../fonts/JosefinSlab-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Josefin Slab";
    src: url(../fonts/JosefinSlab-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Josefin Slab";
    src: url(../fonts/JosefinSlab-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Josefin Slab";
    src: url(../fonts/JosefinSlab-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}