@font-face {
    font-family: "Rokkitt";
    src: url(../fonts/Rokkitt-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Rokkitt";
    src: url(../fonts/Rokkitt-ThinItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "Rokkitt";
    src: url(../fonts/Rokkitt-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Rokkitt";
    src: url(../fonts/Rokkitt-ExtraLightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Rokkitt";
    src: url(../fonts/Rokkitt-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Rokkitt";
    src: url(../fonts/Rokkitt-LightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Rokkitt";
    src: url(../fonts/Rokkitt-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Rokkitt";
    src: url(../fonts/Rokkitt-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Rokkitt";
    src: url(../fonts/Rokkitt-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Rokkitt";
    src: url(../fonts/Rokkitt-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Rokkitt";
    src: url(../fonts/Rokkitt-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Rokkitt";
    src: url(../fonts/Rokkitt-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Rokkitt";
    src: url(../fonts/Rokkitt-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Rokkitt";
    src: url(../fonts/Rokkitt-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Rokkitt";
    src: url(../fonts/Rokkitt-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Rokkitt";
    src: url(../fonts/Rokkitt-ExtraBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Rokkitt";
    src: url(../fonts/Rokkitt-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Rokkitt";
    src: url(../fonts/Rokkitt-BlackItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 900;
}