@font-face {
    font-family: "Gudea";
    src: url(../fonts/Gudea-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gudea";
    src: url(../fonts/Gudea-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Gudea";
    src: url(../fonts/Gudea-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}