@font-face {
    font-family: "News Cycle";
    src: url(../fonts/NewsCycle-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "News Cycle";
    src: url(../fonts/NewsCycle-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}