@font-face {
    font-family: "Gluten";
    src: url(../fonts/Gluten-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Gluten";
    src: url(../fonts/Gluten-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Gluten";
    src: url(../fonts/Gluten-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Gluten";
    src: url(../fonts/Gluten-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gluten";
    src: url(../fonts/Gluten-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Gluten";
    src: url(../fonts/Gluten-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Gluten";
    src: url(../fonts/Gluten-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Gluten";
    src: url(../fonts/Gluten-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Gluten";
    src: url(../fonts/Gluten-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}