@font-face {
    font-family: "Brygada 1918";
    src: url(../fonts/Brygada1918-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Brygada 1918";
    src: url(../fonts/Brygada1918-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Brygada 1918";
    src: url(../fonts/Brygada1918-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Brygada 1918";
    src: url(../fonts/Brygada1918-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Brygada 1918";
    src: url(../fonts/Brygada1918-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Brygada 1918";
    src: url(../fonts/Brygada1918-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Brygada 1918";
    src: url(../fonts/Brygada1918-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Brygada 1918";
    src: url(../fonts/Brygada1918-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}