@font-face {
    font-family: "Marhey";
    src: url(../fonts/Marhey-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Marhey";
    src: url(../fonts/Marhey-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Marhey";
    src: url(../fonts/Marhey-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Marhey";
    src: url(../fonts/Marhey-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Marhey";
    src: url(../fonts/Marhey-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}