@font-face {
    font-family: "Miriam Libre";
    src: url(../fonts/MiriamLibre-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Miriam Libre";
    src: url(../fonts/MiriamLibre-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}