@font-face {
    font-family: "Poltawski Nowy";
    src: url(../fonts/PoltawskiNowy-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Poltawski Nowy";
    src: url(../fonts/PoltawskiNowy-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Poltawski Nowy";
    src: url(../fonts/PoltawskiNowy-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Poltawski Nowy";
    src: url(../fonts/PoltawskiNowy-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Poltawski Nowy";
    src: url(../fonts/PoltawskiNowy-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Poltawski Nowy";
    src: url(../fonts/PoltawskiNowy-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Poltawski Nowy";
    src: url(../fonts/PoltawskiNowy-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Poltawski Nowy";
    src: url(../fonts/PoltawskiNowy-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}