@font-face {
    font-family: "Hepta Slab";
    src: url(../fonts/HeptaSlab-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Hepta Slab";
    src: url(../fonts/HeptaSlab-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Hepta Slab";
    src: url(../fonts/HeptaSlab-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Hepta Slab";
    src: url(../fonts/HeptaSlab-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Hepta Slab";
    src: url(../fonts/HeptaSlab-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Hepta Slab";
    src: url(../fonts/HeptaSlab-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Hepta Slab";
    src: url(../fonts/HeptaSlab-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Hepta Slab";
    src: url(../fonts/HeptaSlab-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Hepta Slab";
    src: url(../fonts/HeptaSlab-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}