@font-face {
    font-family: "Alegreya SC";
    src: url(../fonts/AlegreyaSC-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Alegreya SC";
    src: url(../fonts/AlegreyaSC-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Alegreya SC";
    src: url(../fonts/AlegreyaSC-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Alegreya SC";
    src: url(../fonts/AlegreyaSC-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Alegreya SC";
    src: url(../fonts/AlegreyaSC-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Alegreya SC";
    src: url(../fonts/AlegreyaSC-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Alegreya SC";
    src: url(../fonts/AlegreyaSC-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Alegreya SC";
    src: url(../fonts/AlegreyaSC-ExtraBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Alegreya SC";
    src: url(../fonts/AlegreyaSC-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Alegreya SC";
    src: url(../fonts/AlegreyaSC-BlackItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 900;
}