@font-face {
    font-family: "STIX Two Text";
    src: url(../fonts/STIXTwoText-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "STIX Two Text";
    src: url(../fonts/STIXTwoText-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "STIX Two Text";
    src: url(../fonts/STIXTwoText-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "STIX Two Text";
    src: url(../fonts/STIXTwoText-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "STIX Two Text";
    src: url(../fonts/STIXTwoText-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "STIX Two Text";
    src: url(../fonts/STIXTwoText-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "STIX Two Text";
    src: url(../fonts/STIXTwoText-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "STIX Two Text";
    src: url(../fonts/STIXTwoText-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}