@font-face {
    font-family: "Noto Serif Toto";
    src: url(../fonts/NotoSerifToto-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Noto Serif Toto";
    src: url(../fonts/NotoSerifToto-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Noto Serif Toto";
    src: url(../fonts/NotoSerifToto-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Noto Serif Toto";
    src: url(../fonts/NotoSerifToto-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}