@font-face {
    font-family: "David Libre";
    src: url(../fonts/DavidLibre-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "David Libre";
    src: url(../fonts/DavidLibre-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "David Libre";
    src: url(../fonts/DavidLibre-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}