@font-face {
    font-family: "Finlandica";
    src: url(../fonts/Finlandica-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Finlandica";
    src: url(../fonts/Finlandica-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Finlandica";
    src: url(../fonts/Finlandica-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Finlandica";
    src: url(../fonts/Finlandica-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Finlandica";
    src: url(../fonts/Finlandica-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Finlandica";
    src: url(../fonts/Finlandica-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Finlandica";
    src: url(../fonts/Finlandica-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Finlandica";
    src: url(../fonts/Finlandica-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}