@font-face {
    font-family: "Enriqueta";
    src: url(../fonts/Enriqueta-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Enriqueta";
    src: url(../fonts/Enriqueta-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Enriqueta";
    src: url(../fonts/Enriqueta-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Enriqueta";
    src: url(../fonts/Enriqueta-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}