@font-face {
    font-family: "Libre Caslon Text";
    src: url(../fonts/LibreCaslonText-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Libre Caslon Text";
    src: url(../fonts/LibreCaslonText-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Libre Caslon Text";
    src: url(../fonts/LibreCaslonText-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}