@font-face {
    font-family: "Red Hat Display";
    src: url(../fonts/RedHatDisplay-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Red Hat Display";
    src: url(../fonts/RedHatDisplay-LightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Red Hat Display";
    src: url(../fonts/RedHatDisplay-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Red Hat Display";
    src: url(../fonts/RedHatDisplay-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Red Hat Display";
    src: url(../fonts/RedHatDisplay-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Red Hat Display";
    src: url(../fonts/RedHatDisplay-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Red Hat Display";
    src: url(../fonts/RedHatDisplay-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Red Hat Display";
    src: url(../fonts/RedHatDisplay-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Red Hat Display";
    src: url(../fonts/RedHatDisplay-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Red Hat Display";
    src: url(../fonts/RedHatDisplay-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Red Hat Display";
    src: url(../fonts/RedHatDisplay-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Red Hat Display";
    src: url(../fonts/RedHatDisplay-ExtraBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Red Hat Display";
    src: url(../fonts/RedHatDisplay-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Red Hat Display";
    src: url(../fonts/RedHatDisplay-BlackItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 900;
}