@font-face {
    font-family: "Kaisei Opti";
    src: url(../fonts/KaiseiOpti-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Kaisei Opti";
    src: url(../fonts/KaiseiOpti-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Kaisei Opti";
    src: url(../fonts/KaiseiOpti-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}