@font-face {
    font-family: "Trirong";
    src: url(../fonts/Trirong-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Trirong";
    src: url(../fonts/Trirong-ThinItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "Trirong";
    src: url(../fonts/Trirong-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Trirong";
    src: url(../fonts/Trirong-ExtraLightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Trirong";
    src: url(../fonts/Trirong-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Trirong";
    src: url(../fonts/Trirong-LightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Trirong";
    src: url(../fonts/Trirong-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Trirong";
    src: url(../fonts/Trirong-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Trirong";
    src: url(../fonts/Trirong-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Trirong";
    src: url(../fonts/Trirong-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Trirong";
    src: url(../fonts/Trirong-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Trirong";
    src: url(../fonts/Trirong-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Trirong";
    src: url(../fonts/Trirong-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Trirong";
    src: url(../fonts/Trirong-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Trirong";
    src: url(../fonts/Trirong-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Trirong";
    src: url(../fonts/Trirong-ExtraBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Trirong";
    src: url(../fonts/Trirong-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Trirong";
    src: url(../fonts/Trirong-BlackItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 900;
}