@font-face {
    font-family: "Fahkwang";
    src: url(../fonts/Fahkwang-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Fahkwang";
    src: url(../fonts/Fahkwang-ExtraLightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Fahkwang";
    src: url(../fonts/Fahkwang-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Fahkwang";
    src: url(../fonts/Fahkwang-LightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Fahkwang";
    src: url(../fonts/Fahkwang-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Fahkwang";
    src: url(../fonts/Fahkwang-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Fahkwang";
    src: url(../fonts/Fahkwang-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Fahkwang";
    src: url(../fonts/Fahkwang-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Fahkwang";
    src: url(../fonts/Fahkwang-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Fahkwang";
    src: url(../fonts/Fahkwang-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Fahkwang";
    src: url(../fonts/Fahkwang-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Fahkwang";
    src: url(../fonts/Fahkwang-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}