@font-face {
    font-family: "Fondamento";
    src: url(../fonts/Fondamento-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Fondamento";
    src: url(../fonts/Fondamento-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}