@font-face {
    font-family: "WindSong";
    src: url(../fonts/WindSong-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "WindSong";
    src: url(../fonts/WindSong-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}