@font-face {
    font-family: "Noto Sans Balinese";
    src: url(../fonts/NotoSansBalinese-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Noto Sans Balinese";
    src: url(../fonts/NotoSansBalinese-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Noto Sans Balinese";
    src: url(../fonts/NotoSansBalinese-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Noto Sans Balinese";
    src: url(../fonts/NotoSansBalinese-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}