@font-face {
    font-family: "Sen";
    src: url(../fonts/Sen-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Sen";
    src: url(../fonts/Sen-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Sen";
    src: url(../fonts/Sen-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}