@font-face {
    font-family: "Cairo Play";
    src: url(../fonts/CairoPlay-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Cairo Play";
    src: url(../fonts/CairoPlay-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Cairo Play";
    src: url(../fonts/CairoPlay-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Cairo Play";
    src: url(../fonts/CairoPlay-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Cairo Play";
    src: url(../fonts/CairoPlay-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Cairo Play";
    src: url(../fonts/CairoPlay-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Cairo Play";
    src: url(../fonts/CairoPlay-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Cairo Play";
    src: url(../fonts/CairoPlay-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}