@font-face {
    font-family: "Farro";
    src: url(../fonts/Farro-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Farro";
    src: url(../fonts/Farro-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Farro";
    src: url(../fonts/Farro-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Farro";
    src: url(../fonts/Farro-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}