@font-face {
    font-family: "Zen Old Mincho";
    src: url(../fonts/ZenOldMincho-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Zen Old Mincho";
    src: url(../fonts/ZenOldMincho-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Zen Old Mincho";
    src: url(../fonts/ZenOldMincho-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Zen Old Mincho";
    src: url(../fonts/ZenOldMincho-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Zen Old Mincho";
    src: url(../fonts/ZenOldMincho-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}