@font-face {
    font-family: "Noto Sans Tangsa";
    src: url(../fonts/NotoSansTangsa-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Noto Sans Tangsa";
    src: url(../fonts/NotoSansTangsa-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Noto Sans Tangsa";
    src: url(../fonts/NotoSansTangsa-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Noto Sans Tangsa";
    src: url(../fonts/NotoSansTangsa-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}