@font-face {
    font-family: "Syne";
    src: url(../fonts/Syne-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Syne";
    src: url(../fonts/Syne-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Syne";
    src: url(../fonts/Syne-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Syne";
    src: url(../fonts/Syne-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Syne";
    src: url(../fonts/Syne-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}