@font-face {
    font-family: "Noto Sans Bamum";
    src: url(../fonts/NotoSansBamum-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Noto Sans Bamum";
    src: url(../fonts/NotoSansBamum-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Noto Sans Bamum";
    src: url(../fonts/NotoSansBamum-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Noto Sans Bamum";
    src: url(../fonts/NotoSansBamum-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}