@font-face {
    font-family: "Sunflower";
    src: url(../fonts/Sunflower-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Sunflower";
    src: url(../fonts/Sunflower-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Sunflower";
    src: url(../fonts/Sunflower-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}