@font-face {
    font-family: "Khand";
    src: url(../fonts/Khand-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Khand";
    src: url(../fonts/Khand-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Khand";
    src: url(../fonts/Khand-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Khand";
    src: url(../fonts/Khand-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Khand";
    src: url(../fonts/Khand-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}