@font-face {
    font-family: "Zen Kaku Gothic Antique";
    src: url(../fonts/ZenKakuGothicAntique-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Zen Kaku Gothic Antique";
    src: url(../fonts/ZenKakuGothicAntique-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Zen Kaku Gothic Antique";
    src: url(../fonts/ZenKakuGothicAntique-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Zen Kaku Gothic Antique";
    src: url(../fonts/ZenKakuGothicAntique-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Zen Kaku Gothic Antique";
    src: url(../fonts/ZenKakuGothicAntique-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}