@font-face {
    font-family: "Glegoo";
    src: url(../fonts/Glegoo-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Glegoo";
    src: url(../fonts/Glegoo-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}