@font-face {
    font-family: "Redacted Script";
    src: url(../fonts/RedactedScript-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Redacted Script";
    src: url(../fonts/RedactedScript-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Redacted Script";
    src: url(../fonts/RedactedScript-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}