@font-face {
    font-family: "Atma";
    src: url(../fonts/Atma-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Atma";
    src: url(../fonts/Atma-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Atma";
    src: url(../fonts/Atma-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Atma";
    src: url(../fonts/Atma-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Atma";
    src: url(../fonts/Atma-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}