@font-face {
    font-family: "Averia Sans Libre";
    src: url(../fonts/AveriaSansLibre-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Averia Sans Libre";
    src: url(../fonts/AveriaSansLibre-LightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Averia Sans Libre";
    src: url(../fonts/AveriaSansLibre-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Averia Sans Libre";
    src: url(../fonts/AveriaSansLibre-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Averia Sans Libre";
    src: url(../fonts/AveriaSansLibre-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Averia Sans Libre";
    src: url(../fonts/AveriaSansLibre-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}