@font-face {
    font-family: "Montserrat Subrayada";
    src: url(../fonts/MontserratSubrayada-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Montserrat Subrayada";
    src: url(../fonts/MontserratSubrayada-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}