@font-face {
    font-family: "Birthstone Bounce";
    src: url(../fonts/BirthstoneBounce-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Birthstone Bounce";
    src: url(../fonts/BirthstoneBounce-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}