@font-face {
    font-family: "Sniglet";
    src: url(../fonts/Sniglet-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Sniglet";
    src: url(../fonts/Sniglet-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}