@font-face {
    font-family: "Grenze";
    src: url(../fonts/Grenze-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Grenze";
    src: url(../fonts/Grenze-ThinItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "Grenze";
    src: url(../fonts/Grenze-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Grenze";
    src: url(../fonts/Grenze-ExtraLightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Grenze";
    src: url(../fonts/Grenze-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Grenze";
    src: url(../fonts/Grenze-LightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Grenze";
    src: url(../fonts/Grenze-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Grenze";
    src: url(../fonts/Grenze-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Grenze";
    src: url(../fonts/Grenze-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Grenze";
    src: url(../fonts/Grenze-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Grenze";
    src: url(../fonts/Grenze-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Grenze";
    src: url(../fonts/Grenze-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Grenze";
    src: url(../fonts/Grenze-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Grenze";
    src: url(../fonts/Grenze-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Grenze";
    src: url(../fonts/Grenze-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Grenze";
    src: url(../fonts/Grenze-ExtraBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Grenze";
    src: url(../fonts/Grenze-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Grenze";
    src: url(../fonts/Grenze-BlackItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 900;
}