@font-face {
    font-family: "Inika";
    src: url(../fonts/Inika-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Inika";
    src: url(../fonts/Inika-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}