@font-face {
    font-family: "Sarala";
    src: url(../fonts/Sarala-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Sarala";
    src: url(../fonts/Sarala-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}