@font-face {
    font-family: "Bellota";
    src: url(../fonts/Bellota-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Bellota";
    src: url(../fonts/Bellota-LightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Bellota";
    src: url(../fonts/Bellota-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Bellota";
    src: url(../fonts/Bellota-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Bellota";
    src: url(../fonts/Bellota-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Bellota";
    src: url(../fonts/Bellota-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}