@font-face {
    font-family: "Grandstander";
    src: url(../fonts/Grandstander-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Grandstander";
    src: url(../fonts/Grandstander-ThinItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "Grandstander";
    src: url(../fonts/Grandstander-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Grandstander";
    src: url(../fonts/Grandstander-ExtraLightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Grandstander";
    src: url(../fonts/Grandstander-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Grandstander";
    src: url(../fonts/Grandstander-LightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Grandstander";
    src: url(../fonts/Grandstander-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Grandstander";
    src: url(../fonts/Grandstander-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Grandstander";
    src: url(../fonts/Grandstander-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Grandstander";
    src: url(../fonts/Grandstander-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Grandstander";
    src: url(../fonts/Grandstander-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Grandstander";
    src: url(../fonts/Grandstander-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Grandstander";
    src: url(../fonts/Grandstander-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Grandstander";
    src: url(../fonts/Grandstander-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Grandstander";
    src: url(../fonts/Grandstander-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Grandstander";
    src: url(../fonts/Grandstander-ExtraBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Grandstander";
    src: url(../fonts/Grandstander-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Grandstander";
    src: url(../fonts/Grandstander-BlackItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 900;
}