@font-face {
    font-family: "Gayathri";
    src: url(../fonts/Gayathri-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Gayathri";
    src: url(../fonts/Gayathri-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gayathri";
    src: url(../fonts/Gayathri-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}