@font-face {
    font-family: "Tiro Gurmukhi";
    src: url(../fonts/TiroGurmukhi-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Tiro Gurmukhi";
    src: url(../fonts/TiroGurmukhi-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}