@font-face {
    font-family: "Baloo Chettan 2";
    src: url(../fonts/BalooChettan2-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Baloo Chettan 2";
    src: url(../fonts/BalooChettan2-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Baloo Chettan 2";
    src: url(../fonts/BalooChettan2-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Baloo Chettan 2";
    src: url(../fonts/BalooChettan2-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Baloo Chettan 2";
    src: url(../fonts/BalooChettan2-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}