@font-face {
    font-family: "Tai Heritage Pro";
    src: url(../fonts/TaiHeritagePro-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Tai Heritage Pro";
    src: url(../fonts/TaiHeritagePro-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}