@font-face {
    font-family: "Edu TAS Beginner";
    src: url(../fonts/EduTASBeginner-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Edu TAS Beginner";
    src: url(../fonts/EduTASBeginner-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Edu TAS Beginner";
    src: url(../fonts/EduTASBeginner-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Edu TAS Beginner";
    src: url(../fonts/EduTASBeginner-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}