@font-face {
    font-family: "Ibarra Real Nova";
    src: url(../fonts/IbarraRealNova-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Ibarra Real Nova";
    src: url(../fonts/IbarraRealNova-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Ibarra Real Nova";
    src: url(../fonts/IbarraRealNova-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Ibarra Real Nova";
    src: url(../fonts/IbarraRealNova-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Ibarra Real Nova";
    src: url(../fonts/IbarraRealNova-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Ibarra Real Nova";
    src: url(../fonts/IbarraRealNova-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Ibarra Real Nova";
    src: url(../fonts/IbarraRealNova-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Ibarra Real Nova";
    src: url(../fonts/IbarraRealNova-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}