@font-face {
    font-family: "Qwitcher Grypen";
    src: url(../fonts/QwitcherGrypen-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Qwitcher Grypen";
    src: url(../fonts/QwitcherGrypen-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}