@font-face {
    font-family: "Mukta Mahee";
    src: url(../fonts/MuktaMahee-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Mukta Mahee";
    src: url(../fonts/MuktaMahee-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Mukta Mahee";
    src: url(../fonts/MuktaMahee-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Mukta Mahee";
    src: url(../fonts/MuktaMahee-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Mukta Mahee";
    src: url(../fonts/MuktaMahee-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Mukta Mahee";
    src: url(../fonts/MuktaMahee-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Mukta Mahee";
    src: url(../fonts/MuktaMahee-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}