@font-face {
    font-family: "Lexend Giga";
    src: url(../fonts/LexendGiga-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Lexend Giga";
    src: url(../fonts/LexendGiga-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Lexend Giga";
    src: url(../fonts/LexendGiga-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Lexend Giga";
    src: url(../fonts/LexendGiga-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Lexend Giga";
    src: url(../fonts/LexendGiga-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Lexend Giga";
    src: url(../fonts/LexendGiga-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Lexend Giga";
    src: url(../fonts/LexendGiga-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Lexend Giga";
    src: url(../fonts/LexendGiga-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Lexend Giga";
    src: url(../fonts/LexendGiga-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}