@font-face {
    font-family: "Koh Santepheap";
    src: url(../fonts/KohSantepheap-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Koh Santepheap";
    src: url(../fonts/KohSantepheap-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Koh Santepheap";
    src: url(../fonts/KohSantepheap-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Koh Santepheap";
    src: url(../fonts/KohSantepheap-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Koh Santepheap";
    src: url(../fonts/KohSantepheap-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}