@font-face {
    font-family: "Sansita";
    src: url(../fonts/Sansita-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Sansita";
    src: url(../fonts/Sansita-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Sansita";
    src: url(../fonts/Sansita-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Sansita";
    src: url(../fonts/Sansita-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Sansita";
    src: url(../fonts/Sansita-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Sansita";
    src: url(../fonts/Sansita-ExtraBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Sansita";
    src: url(../fonts/Sansita-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Sansita";
    src: url(../fonts/Sansita-BlackItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 900;
}