@font-face {
    font-family: "Amiko";
    src: url(../fonts/Amiko-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Amiko";
    src: url(../fonts/Amiko-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Amiko";
    src: url(../fonts/Amiko-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}