@font-face {
    font-family: "Magra";
    src: url(../fonts/Magra-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Magra";
    src: url(../fonts/Magra-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}