@font-face {
    font-family: "Zen Kaku Gothic New";
    src: url(../fonts/ZenKakuGothicNew-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Zen Kaku Gothic New";
    src: url(../fonts/ZenKakuGothicNew-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Zen Kaku Gothic New";
    src: url(../fonts/ZenKakuGothicNew-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Zen Kaku Gothic New";
    src: url(../fonts/ZenKakuGothicNew-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Zen Kaku Gothic New";
    src: url(../fonts/ZenKakuGothicNew-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}