@font-face {
    font-family: "Noto Sans Tai Tham";
    src: url(../fonts/NotoSansTaiTham-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Noto Sans Tai Tham";
    src: url(../fonts/NotoSansTaiTham-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Noto Sans Tai Tham";
    src: url(../fonts/NotoSansTaiTham-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Noto Sans Tai Tham";
    src: url(../fonts/NotoSansTaiTham-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}