@font-face {
    font-family: "Cabin Condensed";
    src: url(../fonts/CabinCondensed-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Cabin Condensed";
    src: url(../fonts/CabinCondensed-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Cabin Condensed";
    src: url(../fonts/CabinCondensed-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Cabin Condensed";
    src: url(../fonts/CabinCondensed-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}