@font-face {
    font-family: "Volkhov";
    src: url(../fonts/Volkhov-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Volkhov";
    src: url(../fonts/Volkhov-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Volkhov";
    src: url(../fonts/Volkhov-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Volkhov";
    src: url(../fonts/Volkhov-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}