@font-face {
    font-family: "Overpass";
    src: url(../fonts/Overpass-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Overpass";
    src: url(../fonts/Overpass-ThinItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "Overpass";
    src: url(../fonts/Overpass-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Overpass";
    src: url(../fonts/Overpass-ExtraLightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Overpass";
    src: url(../fonts/Overpass-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Overpass";
    src: url(../fonts/Overpass-LightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Overpass";
    src: url(../fonts/Overpass-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Overpass";
    src: url(../fonts/Overpass-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Overpass";
    src: url(../fonts/Overpass-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Overpass";
    src: url(../fonts/Overpass-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Overpass";
    src: url(../fonts/Overpass-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Overpass";
    src: url(../fonts/Overpass-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Overpass";
    src: url(../fonts/Overpass-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Overpass";
    src: url(../fonts/Overpass-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Overpass";
    src: url(../fonts/Overpass-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Overpass";
    src: url(../fonts/Overpass-ExtraBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Overpass";
    src: url(../fonts/Overpass-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Overpass";
    src: url(../fonts/Overpass-BlackItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 900;
}