@font-face {
    font-family: "Frank Ruhl Libre";
    src: url(../fonts/FrankRuhlLibre-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Frank Ruhl Libre";
    src: url(../fonts/FrankRuhlLibre-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Frank Ruhl Libre";
    src: url(../fonts/FrankRuhlLibre-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Frank Ruhl Libre";
    src: url(../fonts/FrankRuhlLibre-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Frank Ruhl Libre";
    src: url(../fonts/FrankRuhlLibre-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Frank Ruhl Libre";
    src: url(../fonts/FrankRuhlLibre-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Frank Ruhl Libre";
    src: url(../fonts/FrankRuhlLibre-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}