@font-face {
    font-family: "Manjari";
    src: url(../fonts/Manjari-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Manjari";
    src: url(../fonts/Manjari-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Manjari";
    src: url(../fonts/Manjari-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}