@font-face {
    font-family: "Red Rose";
    src: url(../fonts/RedRose-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Red Rose";
    src: url(../fonts/RedRose-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Red Rose";
    src: url(../fonts/RedRose-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Red Rose";
    src: url(../fonts/RedRose-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Red Rose";
    src: url(../fonts/RedRose-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}