@font-face {
    font-family: "Rosario";
    src: url(../fonts/Rosario-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Rosario";
    src: url(../fonts/Rosario-LightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Rosario";
    src: url(../fonts/Rosario-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Rosario";
    src: url(../fonts/Rosario-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Rosario";
    src: url(../fonts/Rosario-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Rosario";
    src: url(../fonts/Rosario-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Rosario";
    src: url(../fonts/Rosario-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Rosario";
    src: url(../fonts/Rosario-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Rosario";
    src: url(../fonts/Rosario-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Rosario";
    src: url(../fonts/Rosario-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}