@font-face {
    font-family: "Arya";
    src: url(../fonts/Arya-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Arya";
    src: url(../fonts/Arya-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}