@font-face {
    font-family: "Gelasio";
    src: url(../fonts/Gelasio-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gelasio";
    src: url(../fonts/Gelasio-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Gelasio";
    src: url(../fonts/Gelasio-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Gelasio";
    src: url(../fonts/Gelasio-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Gelasio";
    src: url(../fonts/Gelasio-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Gelasio";
    src: url(../fonts/Gelasio-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Gelasio";
    src: url(../fonts/Gelasio-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Gelasio";
    src: url(../fonts/Gelasio-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}