@font-face {
    font-family: "Mina";
    src: url(../fonts/Mina-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Mina";
    src: url(../fonts/Mina-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}