@font-face {
    font-family: "Share";
    src: url(../fonts/Share-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Share";
    src: url(../fonts/Share-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Share";
    src: url(../fonts/Share-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Share";
    src: url(../fonts/Share-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}