@font-face {
    font-family: "Gupter";
    src: url(../fonts/Gupter-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gupter";
    src: url(../fonts/Gupter-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Gupter";
    src: url(../fonts/Gupter-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}