@font-face {
    font-family: "Gantari";
    src: url(../fonts/Gantari-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Gantari";
    src: url(../fonts/Gantari-ThinItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "Gantari";
    src: url(../fonts/Gantari-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Gantari";
    src: url(../fonts/Gantari-ExtraLightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Gantari";
    src: url(../fonts/Gantari-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Gantari";
    src: url(../fonts/Gantari-LightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Gantari";
    src: url(../fonts/Gantari-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gantari";
    src: url(../fonts/Gantari-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Gantari";
    src: url(../fonts/Gantari-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Gantari";
    src: url(../fonts/Gantari-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Gantari";
    src: url(../fonts/Gantari-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Gantari";
    src: url(../fonts/Gantari-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Gantari";
    src: url(../fonts/Gantari-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Gantari";
    src: url(../fonts/Gantari-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Gantari";
    src: url(../fonts/Gantari-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Gantari";
    src: url(../fonts/Gantari-ExtraBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Gantari";
    src: url(../fonts/Gantari-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Gantari";
    src: url(../fonts/Gantari-BlackItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 900;
}