@font-face {
    font-family: "Tomorrow";
    src: url(../fonts/Tomorrow-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Tomorrow";
    src: url(../fonts/Tomorrow-ThinItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "Tomorrow";
    src: url(../fonts/Tomorrow-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Tomorrow";
    src: url(../fonts/Tomorrow-ExtraLightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Tomorrow";
    src: url(../fonts/Tomorrow-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Tomorrow";
    src: url(../fonts/Tomorrow-LightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Tomorrow";
    src: url(../fonts/Tomorrow-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Tomorrow";
    src: url(../fonts/Tomorrow-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Tomorrow";
    src: url(../fonts/Tomorrow-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Tomorrow";
    src: url(../fonts/Tomorrow-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Tomorrow";
    src: url(../fonts/Tomorrow-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Tomorrow";
    src: url(../fonts/Tomorrow-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Tomorrow";
    src: url(../fonts/Tomorrow-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Tomorrow";
    src: url(../fonts/Tomorrow-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Tomorrow";
    src: url(../fonts/Tomorrow-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Tomorrow";
    src: url(../fonts/Tomorrow-ExtraBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Tomorrow";
    src: url(../fonts/Tomorrow-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Tomorrow";
    src: url(../fonts/Tomorrow-BlackItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 900;
}