@font-face {
    font-family: "Sofia Sans Extra Condensed";
    src: url(../fonts/SofiaSansExtraCondensed-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Sofia Sans Extra Condensed";
    src: url(../fonts/SofiaSansExtraCondensed-ThinItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "Sofia Sans Extra Condensed";
    src: url(../fonts/SofiaSansExtraCondensed-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Sofia Sans Extra Condensed";
    src: url(../fonts/SofiaSansExtraCondensed-ExtraLightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Sofia Sans Extra Condensed";
    src: url(../fonts/SofiaSansExtraCondensed-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Sofia Sans Extra Condensed";
    src: url(../fonts/SofiaSansExtraCondensed-LightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Sofia Sans Extra Condensed";
    src: url(../fonts/SofiaSansExtraCondensed-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Sofia Sans Extra Condensed";
    src: url(../fonts/SofiaSansExtraCondensed-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Sofia Sans Extra Condensed";
    src: url(../fonts/SofiaSansExtraCondensed-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Sofia Sans Extra Condensed";
    src: url(../fonts/SofiaSansExtraCondensed-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Sofia Sans Extra Condensed";
    src: url(../fonts/SofiaSansExtraCondensed-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Sofia Sans Extra Condensed";
    src: url(../fonts/SofiaSansExtraCondensed-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Sofia Sans Extra Condensed";
    src: url(../fonts/SofiaSansExtraCondensed-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Sofia Sans Extra Condensed";
    src: url(../fonts/SofiaSansExtraCondensed-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Sofia Sans Extra Condensed";
    src: url(../fonts/SofiaSansExtraCondensed-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Sofia Sans Extra Condensed";
    src: url(../fonts/SofiaSansExtraCondensed-ExtraBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Sofia Sans Extra Condensed";
    src: url(../fonts/SofiaSansExtraCondensed-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Sofia Sans Extra Condensed";
    src: url(../fonts/SofiaSansExtraCondensed-BlackItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 900;
}