@font-face {
    font-family: "Noto Serif Tibetan";
    src: url(../fonts/NotoSerifTibetan-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Noto Serif Tibetan";
    src: url(../fonts/NotoSerifTibetan-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Noto Serif Tibetan";
    src: url(../fonts/NotoSerifTibetan-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Noto Serif Tibetan";
    src: url(../fonts/NotoSerifTibetan-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Noto Serif Tibetan";
    src: url(../fonts/NotoSerifTibetan-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Noto Serif Tibetan";
    src: url(../fonts/NotoSerifTibetan-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Noto Serif Tibetan";
    src: url(../fonts/NotoSerifTibetan-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Noto Serif Tibetan";
    src: url(../fonts/NotoSerifTibetan-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Noto Serif Tibetan";
    src: url(../fonts/NotoSerifTibetan-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}