@font-face {
    font-family: "Cherry Swash";
    src: url(../fonts/CherrySwash-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Cherry Swash";
    src: url(../fonts/CherrySwash-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}