@font-face {
    font-family: "Changa One";
    src: url(../fonts/ChangaOne-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Changa One";
    src: url(../fonts/ChangaOne-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}