@font-face {
    font-family: "Kaisei Decol";
    src: url(../fonts/KaiseiDecol-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Kaisei Decol";
    src: url(../fonts/KaiseiDecol-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Kaisei Decol";
    src: url(../fonts/KaiseiDecol-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}