@font-face {
    font-family: "Oleo Script";
    src: url(../fonts/OleoScript-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Oleo Script";
    src: url(../fonts/OleoScript-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}