@font-face {
    font-family: "Nobile";
    src: url(../fonts/Nobile-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Nobile";
    src: url(../fonts/Nobile-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Nobile";
    src: url(../fonts/Nobile-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Nobile";
    src: url(../fonts/Nobile-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Nobile";
    src: url(../fonts/Nobile-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Nobile";
    src: url(../fonts/Nobile-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}