@font-face {
    font-family: "Khula";
    src: url(../fonts/Khula-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Khula";
    src: url(../fonts/Khula-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Khula";
    src: url(../fonts/Khula-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Khula";
    src: url(../fonts/Khula-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Khula";
    src: url(../fonts/Khula-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}