@font-face {
    font-family: "Sofia Sans Semi Condensed";
    src: url(../fonts/SofiaSansSemiCondensed-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Sofia Sans Semi Condensed";
    src: url(../fonts/SofiaSansSemiCondensed-ThinItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "Sofia Sans Semi Condensed";
    src: url(../fonts/SofiaSansSemiCondensed-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Sofia Sans Semi Condensed";
    src: url(../fonts/SofiaSansSemiCondensed-ExtraLightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Sofia Sans Semi Condensed";
    src: url(../fonts/SofiaSansSemiCondensed-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Sofia Sans Semi Condensed";
    src: url(../fonts/SofiaSansSemiCondensed-LightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Sofia Sans Semi Condensed";
    src: url(../fonts/SofiaSansSemiCondensed-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Sofia Sans Semi Condensed";
    src: url(../fonts/SofiaSansSemiCondensed-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Sofia Sans Semi Condensed";
    src: url(../fonts/SofiaSansSemiCondensed-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Sofia Sans Semi Condensed";
    src: url(../fonts/SofiaSansSemiCondensed-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Sofia Sans Semi Condensed";
    src: url(../fonts/SofiaSansSemiCondensed-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Sofia Sans Semi Condensed";
    src: url(../fonts/SofiaSansSemiCondensed-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Sofia Sans Semi Condensed";
    src: url(../fonts/SofiaSansSemiCondensed-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Sofia Sans Semi Condensed";
    src: url(../fonts/SofiaSansSemiCondensed-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Sofia Sans Semi Condensed";
    src: url(../fonts/SofiaSansSemiCondensed-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Sofia Sans Semi Condensed";
    src: url(../fonts/SofiaSansSemiCondensed-ExtraBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Sofia Sans Semi Condensed";
    src: url(../fonts/SofiaSansSemiCondensed-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Sofia Sans Semi Condensed";
    src: url(../fonts/SofiaSansSemiCondensed-BlackItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 900;
}