@font-face {
    font-family: "Noto Sans Adlam Unjoined";
    src: url(../fonts/NotoSansAdlamUnjoined-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Noto Sans Adlam Unjoined";
    src: url(../fonts/NotoSansAdlamUnjoined-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Noto Sans Adlam Unjoined";
    src: url(../fonts/NotoSansAdlamUnjoined-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Noto Sans Adlam Unjoined";
    src: url(../fonts/NotoSansAdlamUnjoined-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}