@font-face {
    font-family: "Oleo Script Swash Caps";
    src: url(../fonts/OleoScriptSwashCaps-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Oleo Script Swash Caps";
    src: url(../fonts/OleoScriptSwashCaps-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}