@font-face {
    font-family: "Mountains of Christmas";
    src: url(../fonts/MountainsofChristmas-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Mountains of Christmas";
    src: url(../fonts/MountainsofChristmas-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}