@font-face {
    font-family: "Charm";
    src: url(../fonts/Charm-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Charm";
    src: url(../fonts/Charm-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}