@font-face {
    font-family: "Tiro Kannada";
    src: url(../fonts/TiroKannada-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Tiro Kannada";
    src: url(../fonts/TiroKannada-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}