@font-face {
    font-family: "Gowun Batang";
    src: url(../fonts/GowunBatang-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gowun Batang";
    src: url(../fonts/GowunBatang-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}