@font-face {
    font-family: "Noto Sans Sundanese";
    src: url(../fonts/NotoSansSundanese-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Noto Sans Sundanese";
    src: url(../fonts/NotoSansSundanese-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Noto Sans Sundanese";
    src: url(../fonts/NotoSansSundanese-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Noto Sans Sundanese";
    src: url(../fonts/NotoSansSundanese-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}