@font-face {
    font-family: "Gwendolyn";
    src: url(../fonts/Gwendolyn-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Gwendolyn";
    src: url(../fonts/Gwendolyn-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}