@font-face {
    font-family: "Mohave";
    src: url(../fonts/Mohave-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Mohave";
    src: url(../fonts/Mohave-LightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Mohave";
    src: url(../fonts/Mohave-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Mohave";
    src: url(../fonts/Mohave-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Mohave";
    src: url(../fonts/Mohave-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Mohave";
    src: url(../fonts/Mohave-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Mohave";
    src: url(../fonts/Mohave-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Mohave";
    src: url(../fonts/Mohave-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Mohave";
    src: url(../fonts/Mohave-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Mohave";
    src: url(../fonts/Mohave-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}