@font-face {
    font-family: "Noto Sans Symbols";
    src: url(../fonts/NotoSansSymbols-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Noto Sans Symbols";
    src: url(../fonts/NotoSansSymbols-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Noto Sans Symbols";
    src: url(../fonts/NotoSansSymbols-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Noto Sans Symbols";
    src: url(../fonts/NotoSansSymbols-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Noto Sans Symbols";
    src: url(../fonts/NotoSansSymbols-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Noto Sans Symbols";
    src: url(../fonts/NotoSansSymbols-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Noto Sans Symbols";
    src: url(../fonts/NotoSansSymbols-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Noto Sans Symbols";
    src: url(../fonts/NotoSansSymbols-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Noto Sans Symbols";
    src: url(../fonts/NotoSansSymbols-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}