@font-face {
    font-family: "Familjen Grotesk";
    src: url(../fonts/FamiljenGrotesk-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Familjen Grotesk";
    src: url(../fonts/FamiljenGrotesk-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Familjen Grotesk";
    src: url(../fonts/FamiljenGrotesk-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Familjen Grotesk";
    src: url(../fonts/FamiljenGrotesk-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Familjen Grotesk";
    src: url(../fonts/FamiljenGrotesk-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Familjen Grotesk";
    src: url(../fonts/FamiljenGrotesk-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Familjen Grotesk";
    src: url(../fonts/FamiljenGrotesk-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Familjen Grotesk";
    src: url(../fonts/FamiljenGrotesk-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}