@font-face {
    font-family: "Content";
    src: url(../fonts/Content-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Content";
    src: url(../fonts/Content-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}