@font-face {
    font-family: "IM Fell DW Pica";
    src: url(../fonts/IMFellDWPica-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "IM Fell DW Pica";
    src: url(../fonts/IMFellDWPica-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}