@font-face {
    font-family: "Laila";
    src: url(../fonts/Laila-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Laila";
    src: url(../fonts/Laila-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Laila";
    src: url(../fonts/Laila-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Laila";
    src: url(../fonts/Laila-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Laila";
    src: url(../fonts/Laila-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}