@font-face {
    font-family: "Tiro Devanagari Marathi";
    src: url(../fonts/TiroDevanagariMarathi-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Tiro Devanagari Marathi";
    src: url(../fonts/TiroDevanagariMarathi-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}