@font-face {
    font-family: "Noto Sans Sora Sompeng";
    src: url(../fonts/NotoSansSoraSompeng-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Noto Sans Sora Sompeng";
    src: url(../fonts/NotoSansSoraSompeng-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Noto Sans Sora Sompeng";
    src: url(../fonts/NotoSansSoraSompeng-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Noto Sans Sora Sompeng";
    src: url(../fonts/NotoSansSoraSompeng-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}