@font-face {
    font-family: "Nanum Myeongjo";
    src: url(../fonts/NanumMyeongjo-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Nanum Myeongjo";
    src: url(../fonts/NanumMyeongjo-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Nanum Myeongjo";
    src: url(../fonts/NanumMyeongjo-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}