@font-face {
    font-family: "Maven Pro";
    src: url(../fonts/MavenPro-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Maven Pro";
    src: url(../fonts/MavenPro-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Maven Pro";
    src: url(../fonts/MavenPro-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Maven Pro";
    src: url(../fonts/MavenPro-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Maven Pro";
    src: url(../fonts/MavenPro-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Maven Pro";
    src: url(../fonts/MavenPro-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}