@font-face {
    font-family: "Noto Sans Cherokee";
    src: url(../fonts/NotoSansCherokee-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Noto Sans Cherokee";
    src: url(../fonts/NotoSansCherokee-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Noto Sans Cherokee";
    src: url(../fonts/NotoSansCherokee-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Noto Sans Cherokee";
    src: url(../fonts/NotoSansCherokee-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Noto Sans Cherokee";
    src: url(../fonts/NotoSansCherokee-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Noto Sans Cherokee";
    src: url(../fonts/NotoSansCherokee-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Noto Sans Cherokee";
    src: url(../fonts/NotoSansCherokee-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Noto Sans Cherokee";
    src: url(../fonts/NotoSansCherokee-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Noto Sans Cherokee";
    src: url(../fonts/NotoSansCherokee-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}