@font-face {
    font-family: "Petrona";
    src: url(../fonts/Petrona-Thin.ttf) format("truetype");
    font-style: normal;
    font-weight: 100;
}

@font-face {
    font-family: "Petrona";
    src: url(../fonts/Petrona-ThinItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 100;
}

@font-face {
    font-family: "Petrona";
    src: url(../fonts/Petrona-ExtraLight.ttf) format("truetype");
    font-style: normal;
    font-weight: 200;
}

@font-face {
    font-family: "Petrona";
    src: url(../fonts/Petrona-ExtraLightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "Petrona";
    src: url(../fonts/Petrona-Light.ttf) format("truetype");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Petrona";
    src: url(../fonts/Petrona-LightItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 300;
}

@font-face {
    font-family: "Petrona";
    src: url(../fonts/Petrona-Regular.ttf) format("truetype");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Petrona";
    src: url(../fonts/Petrona-Italic.ttf) format("truetype");
    font-style: italic;
    font-weight: 400;
}

@font-face {
    font-family: "Petrona";
    src: url(../fonts/Petrona-Medium.ttf) format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Petrona";
    src: url(../fonts/Petrona-MediumItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 500;
}

@font-face {
    font-family: "Petrona";
    src: url(../fonts/Petrona-SemiBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Petrona";
    src: url(../fonts/Petrona-SemiBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 600;
}

@font-face {
    font-family: "Petrona";
    src: url(../fonts/Petrona-Bold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Petrona";
    src: url(../fonts/Petrona-ExtraBold.ttf) format("truetype");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: "Petrona";
    src: url(../fonts/Petrona-BoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Petrona";
    src: url(../fonts/Petrona-ExtraBoldItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 700;
}

@font-face {
    font-family: "Petrona";
    src: url(../fonts/Petrona-Black.ttf) format("truetype");
    font-style: normal;
    font-weight: 900;
}

@font-face {
    font-family: "Petrona";
    src: url(../fonts/Petrona-BlackItalic.ttf) format("truetype");
    font-style: italic;
    font-weight: 900;
}